@import "tailwindcss";

.specialDiv {
  @apply flex gap-2 justify-center items-center py-4 lg:px-6 px-2;
}
.home-nav a.active,
a.active #notification {
  @apply text-[#FF6200] font-semibold relative;
}

.home-nav a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 10px);
  display: block;
  height: 2px;
  width: 20px;
  background-color: #ff6200;
  color: white;
}

@keyframes testimonial-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.testimonial-track {
  animation: testimonial-scroll 18s linear infinite;
}
